<header class="lab-header" data-sticky-header>
  <div class="lab-container lab-header__inner">
    <a class="lab-header__brand" href="/"><%= site.siteName %></a>
    <%- await include('./nav', { navigation: navigation }) %>
  </div>
</header>
